html {
    font-family: 'Lato', sans-serif;
}
.fondo{
	background-image: url(../img/fondo.jpg);
	background-size: cover;	
}
h1.center-align{
	font-family: 'Sriracha', cursive;
	font-weight: bold;
}
h4{
	font-family: 'Sriracha', cursive;
}
.margen{
	padding: 2% !important;
	border-radius: 5px;
}  